/* couleurs  :

noir clair :#161618
noir fonce :#030303
bleu : #7565DF */


*{

margin: 0;
padding: 0;
font-family: Graphik, Arial, sans-serif;
}

img{

max-width: 100%;
}

a{
text-decoration: none;
}

a:visited{
color: inherit;
}
/* HEADER */

header{

background-color: #161618;
padding: 25px 0;
}

header .logo-header{

width: 50px;
position: relative;
top: 55px;
left: 50px;
}


/* NAV */


header nav{

color: white;
font-size: 1.2rem;
}

header nav ul {
list-style: none;
display: flex;
justify-content: flex-end;
padding-right: 200px;
}

header nav ul li{

padding: 20px;
}

header nav ul li a,
header nav ul li a:visited{

color:white;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li a:focus
{

color:#7565DF;
}

header nav ul li a{
  position: relative;
}

header nav ul li a:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #7565DF;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}

header nav ul li a:hover:after{
  width: 100%;
  left: 0;
  background: #7565DF;
}

/* MAIN */

section{
margin: 0 514px;
position: relative;
}
section h2{

padding: 48px 0;
color: #161618;
font-size: 2rem;
}

section .media img{

width: 892px;
}

section aside{

width: 892px;
height: 250px;
color: white;
position: absolute;
bottom: 0;
}

.section-1 aside{

background-image: linear-gradient(to bottom, rgba(255,0,0,0), #f1c40f);
}

section .section-content{

position: absolute ;
bottom: 0;
margin-bottom: 1.5rem;
margin-left: 3.5rem;
}

section aside h3{

font-size: 30px;
margin-bottom: 0.5rem;
}

section aside p{

font-size: 22px;
}


/* FOOTER */


footer{

background-color: #161618;
color: white;
}

footer img{

width: 20px;
position: relative;
left: 1820px;
transition: 1s ease;
}
